.search {
    -webkit-appearance: none;
    border: 1px rgb(223, 201, 186) solid;
    border-radius: 5px;
    outline: none;
    padding: 10px;
    width: 250px;
    line-height: 30px;
    margin-bottom: 30px;
}